.App {
  text-align: center;
}

.App-header {
  background-color: red;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: white;
}

.App-link {
  color: blue;
}

.container {
  padding: 100px 20px;
  display: grid;
  background-color: rgb(189, 189, 189);
}

.container tr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 500px;
  text-align: center;
  color: black;
  background-color: rgb(189, 189, 189);
}

th,
tr {
  text-align: center;
  color: blue;
}

.label {
  display: flex;
  padding: 20px 10px;
}

.label span {
  padding-right: 5px;
}

.directory__item {
  padding-right: 10px;
  background-color: violet;
}

.insert-form {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
